@model IEnumerable<Chemical_Management.Models.Lab>

@{
    ViewData["Title"] = "Index";
}

<h1>All Labs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LabName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabSite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LabName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabSite)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LabID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LabID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LabID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
