@model IEnumerable<Chemical_Management.Models.Reagent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReagentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfVials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnalystID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReagentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfVials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnalystID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReagentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReagentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReagentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
