@model IEnumerable<Chemical_Management.Models.Assay>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssayDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssayDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            
            <td>
                
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssayId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssayId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AssayId">Delete</a> |
                
               
            </td>
             
        </tr>
}
    </tbody>
</table>
